:root {
  --primary-color: #0077b6;
  --secondary-color: #90e0ef;
  --accent1-color: #023e8a;
  --accent2-color: #caf0f8;
  --heading-font: "Merriweather", "Georgia", serif;
  --body-font: "Open Sans", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: var(--accent2-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

nav a {
  color: var(--accent1-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

nav a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: #fff;
  color: var(--accent1-color); 
}


.hero article {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border-radius: 10px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  margin-bottom: 10px;
}

footer .socialmedia img {
  width: 30px;
  margin: 0 5px;
  vertical-align: middle;
}