
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f8;
  color: #000000;
}

header {
  background-color: #89c8ff;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

main img {
  width: 175px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

aside {
  width: 300px;
  margin: 30px auto;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #89c8ff;
  color: #000000;
  text-align: center;
}

p {
  padding: 0;
}

aside img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(30, 30, 30, 0.4);
}

footer {
  margin-top: 20px;
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 10px 0;
  background-color: #89c8ff;
}