* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(1, 1, 92);
}

header, 
.grid, 
footer {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: #042849;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #fff; 
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  text-decoration: none;
}

main {
  max-width: 640px;
  grid-column: 2/3;
  margin: 3rem;
}

h1 {
  border-bottom: 1px solid #222;
}

aside {
  max-width: 30rem;
  margin: 10px 0;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
  width: 100%;
  height: auto;
  display: block;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
}

main img {
  width: 150px;
  height: auto;
  float: right;
  margin: 1rem;
}

p {
  padding: 0;
}

footer {
  background-color: #042849;
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 1rem;
}


/* Class Selectors */
.box {
    border: 1px solid #bebebe;
    padding: 1em;
    margin: 1rem;
    background-color: #ececec;
    color: #000000;
}

.grid {
  display: grid;
  align-items: center;
}