

nav {
  background-color: #cce8ff;
  padding: 10px;
}

nav a {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: hsl(216, 100%, 66%);
}

h1 {
  color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f8;
  color: #000000;
}

header {
  background-color: #89c8ff;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

main img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #89c8ff;
  padding: 1px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

aside {
  width: 300px;
  margin: 30px auto;
  border: 2px solid #89c8ff;
  padding: 20px;
  background-color: #cce8ff;
  color: #000000;
  text-align: center;
}

p {
  padding: 0;
}

aside img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(30, 30, 30, 0.4);
}

footer {
  margin-top: 20px;
  border-top: 2px solid #89c8ff;
  text-align: center;
  padding: 10px 0;
  background-color: #89c8ff;
}