* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ececec;
  padding: 10px;
}

nav a {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: #ffbcef;
}

h1 {
  color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f8;
  color: #000000;
}

header {
  background-color: #bebebe;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

main img {
  width: 150px;
  height: auto;
  border-radius: 10%;
  padding: 1px;
  box-shadow: 0 12px 25px rgba(0.3, 0, 0, 0.3);
  float: right;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
}

aside {
  width: 300px;
  margin: 30px auto;
  border: 2px solid #767676;
  padding: 10px;
  background-color: #ececec(0, 0%, 77%);
  color: #000000;
  text-align: center;
  position: relative;
}

p {
  padding: 0;
}

aside img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #bebebe;
  text-align: center;
  padding: 10px 0;
  background-color: #ececec;
}

/* Class Selectors */
.box {
    border: 1px solid #bebebe;
    padding: 1em;
    margin: 1rem;
    background-color: #ececec;
    color: #000000;
}